* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
aside {
  width: 25%;
  padding: 10px;
}
section {
  width: 75%;
}
section img {
  width: 100%;
}
.flex-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 15px;
  align-items: center;
}
#grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 15px;
  align-items: center;
}
#grid-1 img {
  margin-bottom: 20px;
}
#smallblock {
  transition: box-shadow 0.2s ease-in;
  padding: 30px 30px;
}

#smallblock:hover {
  border-radius: 6px;
  background-color: #fafafa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section > h4 {
  margin: 15px 0px;
  padding: 15px;
}

.accordion-body {
  line-height: 2;
}
#sPrice {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  border-radius: 5px;
  transition: border 0.2s ease-in;
}
#sPrice:hover {
  border-radius: 8px;
}
#flex-2 {
  display: flex;
}
#oprice {
  display: block;
  text-decoration: line-through;
}
.lflex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.lflex > a {
  color: black;
  text-decoration: none;
}
.lflex > a:hover {
  text-decoration: underline;
}
.bottom {
  width: 80%;
  margin: auto;
}
#accordionFlushExample {
  position: sticky;
  top: 0px;
}
#rate {
  margin: 10px 0px;
}
#button-block {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
}
#button-block > button {
  margin: 10px 10px;
  padding: 5px 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#button-block > button:hover {
  transform: scale(1.1);
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
#accordion-body {
  font-weight: 200;
}
@media screen and (max-width: 1080px) {
  #grid-1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .bottom {
    width: 90%;
  }

  section {
    margin: 0px 10px;
  }
}

@media screen and (max-width: 720px) {
  #grid-1 {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 10px;
  }
  .bottom {
    width: 90%;
  }

  section {
    margin: 0px 20px;
  }
  .lflex {
    flex-direction: column;
  }
  #sPrice {
    margin: 10px;
  }
}
