main {
  width: 90%;
  margin: auto;
  display: flex;
  line-height: 1.6;
}

section {
  width: 70%;
  /* border: 2px solid green; */
  padding: 20px;
  display: flex;
  flex-direction: column;
}
section > img {
  width: 49%;
  margin: 50px;
  align-self: center;
}
aside {
  width: 30%;
  padding: 20px;
}
#odate {
  display: block;
  margin-bottom: 50px;
}
#btn {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;

  transition: all 0.3s ease-in-out 0.1s;
  animation: switch 1.4s ease-in 0.1s 1 forwards;
}
@keyframes switch {
  from {
    border-radius: 0px;
  }
  to {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
#btn:hover {
  background: black;
  color: white;
}
#rate {
  margin: 10px 0px;
}
#accordionFlushExample {
  margin-top: 180px;
}
#flex-sig {
  display: flex;
  justify-content: space-between;
}
#desc {
  margin: 20px 0px;
  animation-name: des;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 0.1s;
}
