

#topnavbar {

    color: white;
    width: 100%;
    height: 40px;
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
    }
    
    
    span{
        display: flex;
       
    }
    #secondnavbar{
       width: 100%;
       margin: auto;
       background-color: white;
       color: white;
       position: sticky;
       top: 0px;
      height: 30px;
      display: flex;
      align-items: center; 
      justify-content:space-between;
      
      
    }
    #hr1{
      position: sticky;
       top: 30px;
    }
    #secondleft{
      
       width: 30%;
        display: flex;
        justify-content:space-between;
        align-items: center; 
    
    }
    #secondright{
        
        width: 55%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        
    
    }
    #secondright img{
         width: 8%;
        height: 30px;
      
       
    }
    a{
         text-decoration: none;
         color: black;
    
      }
    
      #thirdnavbar{
        display: flex;
        position: sticky;
        top: 30px;
        justify-content: space-between;
        height: 80px;
        background-color: white;
      }
      #thirdleft{
       
        width: 7%;
        padding-left: 40px;
    
      
      }
      #thirdleft img{
        width: 100%;
      }
    
      #thirdmid{
        border: 3px solid black;
        width: 50%;
      margin-top: 8px;
        display: flex;
        align-items: center;
       padding: 16px;
       border-radius: 40px;
       height:15px
    }
    #thirdmid i{
      
      font-size: larger;
      padding-left: 70px;
    }
    
    #thirdmid input{
        background: transparent;
        border: 0px;
        outline:0px;
        width:80%
    }
    
    
      #thirdright{
        
        width:12%;
        display: flex;
         align-items: center;
         padding-left: 20px;
    
      }
      #thirdright img{
        width: 50%;
       padding-right: 20px;
      }
    
    
    #fourthnavbar{
    background-color: white;
    width:100%;
     margin:auto;
     display:flex;
     justify-content: space-between;
     align-items: center;
     height: 25px;
     font-size: large;
     position: sticky;
       top: 110px;
    }
    
    
    
    h3:hover{
          cursor: pointer;
          background-color: black;
          color: white;
    
        }
    
    
       
        #content,#content1,#content2,#content3,#content4, #content5,#content6,#content7,#content8,#content9{
          width: 80%;
          visibility: hidden;
          gap: 1rem;
          background-color:white;
          border: 2px solid black;
          color: black;
         position:absolute;
         top: 20px;
          cursor: pointer;
        z-index:1;
        line-height: 0.6;
        padding :10px
        
        }
     
    
        
    
    
    
       
    /* iske upper ka nav bar ka css hain */
    /* iske upper ka nav bar ka css hain */
    /* iske upper ka nav bar ka css hain */
    /* iske upper ka nav bar ka css hain */
    /* iske upper ka nav bar ka css hain */
    
    
    
    #main{
      display: grid;
          width: 90%;
          grid-template-columns: repeat(5,1fr);
    }
    
    #two{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    #firstblock{
     
      width: 100%;
    }
    #firstblock img{
      width: 100%;
    }
    #third{
      width: 100%;
    }
    #third img{
      width: 100%;
    }
    #four{
      display: grid;
          width: 90%;
          margin: auto;
        grid-template-columns: repeat(2,1fr);
        
      display: flex;
      width: 100%;
    
    }
    #four img{
      width:50%
    }
    #five{
      display: flex;
      justify-content: center;
    }
    
    #six{
      display: flex;
    }
    
    #six p{
     
      display: flex;
      justify-content: center;
    }
    #seven{
    
      display: flex;
      justify-content: center;
      background-color: yellow;
    }
    #eight{
      display: flex;
      justify-content: center;
      font-size: 25px;
    }
    #nine{
    
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    #nine img{
      width: 8%;
    }
    #ten{
      display: flex;
     
      height: 300px;
      align-items: center;
    
    }
    #t1{
     
      width: 25%; 
      height: 200px;
      
    }
    #t2{
     
      width: 25%;
      height: 200px;
      display: flex;
      justify-content: center;
    
    }
    #t3{
     
      width: 25%;
      height: 200px;
      display: flex;
      justify-content: center;
    }
    #t4{
     
      width: 25%;
      height: 200px;
      display: flex;
      justify-content: center;
    }
    
    #ele{
     
      padding-top: 40px;
      width: 80%;
     padding-left: 50px;
      display: flex;
     justify-content: space-between;
      height: 60px;
      align-items: center;
     
    }
    #ele img{
      width: 30px;
    }
    #e2{
    
      display: flex;
    }
    #e3{
     
      display: flex;
    }
    #e4{
     
      display: flex;
    }
    #e5{
    
      display: flex;
    }
    #twelve{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    #t14 img{
      width: 20px;
      height: 30px;
      padding-left: 20px;
    }
    #t141{
      display: flex;
     align-items: center;
      padding-right: 20px;
    }
    #t142{
      display: flex;
     align-items: center;
      padding-right: 20px;
    }
    #t143{
      display: flex;
     align-items: center;
      padding-right: 20px;
    }
    /* #thirt{
    
      display: flex;
      justify-content: space-between;
    }
    #tr{
    
      display: flex;
      width: 400px;
      justify-content: space-around;
      padding-right: 80px;
      font-weight: 300;
    }
    #tf{
      display: flex;
     
      justify-content: space-around;
      width: 500px;
    }
    #tf img{
      width:40px;
    
    }
    #lfooter{
      display: flex;
      justify-content: space-around;
    }
    
    #lfooter1{
      display: flex;
      padding-left: 15px;
      width: 40%;
      justify-content: space-around;
    }
    
    #lll{
      padding-left: 20px;
    } */
    #six{
      display: grid;
      grid-template-columns: repeat(5,1fr);
    }
    
    
    
    @media screen and (min-width:500px) and (max-width:800px) {
            #four{
             grid-template-columns: repeat(1,1fr);
            } 
            #six{
              grid-template-columns: repeat(3,1fr);
            }
            
            #nine{
             grid-template-columns: repeat(4,1fr);
            }
            #tf{
             grid-template-columns: repeat(5,1fr);
            }
            #thirdright{
              display: none;
            }
            #thirdleft{
              display: none;
            }
            #fourthnavbar{
              display: none;
            }
            #secondleft{
              display: none;
            }
            #main{
              grid-template-columns: repeat(2,1fr);
            }
            #six{
              grid-template-columns: repeat(2,1fr); 
            }
            #seven{
          display:none;
        }
    }
            
        
        @media screen and (max-width:500px) {
          #four{
             grid-template-columns: repeat(1,1fr);
            }  
            #six{
              grid-template-columns: repeat(2,1fr);
            }
            #nine{
             grid-template-columns: repeat(2,1fr);
            }
            #tf{
             grid-template-columns: repeat(5,1fr);
            }
            #thirdright{
              display: none;
            }
            #thirdleft{
              display: none;
            }
            #fourthnavbar{
              display: none;
            }
            #secondleft{
              display: none;
            }
            #main{
              grid-template-columns: repeat(2,1fr);
            }
            #six{
              grid-template-columns: repeat(2,1fr); 
            }
            #seven{
          display:none
        }
        }
        #landingpagebox{
          width: 90%;
          margin: auto;
        }
    
        /* h3{
       display: inline;
       
         padding: 4px 10px;
    
        } */
    
        #footer_main{
          line-height: 1;
        }
        
    #thirt {
    
    display: flex;
    justify-content: space-between;
    }
    
    #tr {
    
    display: flex;
    
    width: 400px;
    justify-content: space-between;
    
    font-weight: 300;
    }
    
    #tf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    
    }
    
    #footer_main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    padding-bottom: 30px;
    line-height: 10px;
    margin-top: 20px;
    
    }
    
    #lfooter {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    
    }
    
    
    #lfooter1 {
    display: flex;
    
    width: 60%;
    justify-content: space-between;
    line-height: 1.2;
    margin: 10px 0px;
    
    }
    
    #lll {
    
    line-height: 1.2;
    margin: 0px;
    }
    #lfooter p{
    margin: 0;
    padding: 0;
    }
    #lfooter1 p{
    margin: 0;
    padding: 0;
    }
    #lll p{
    margin: 0;
    padding: 0;
    }
    
    #fourthnavbar222{
      display: flex;
      justify-content: space-evenly;
    }
    #fourthnavbar222 a{
      text-decoration: none;
      color: black;
    }
    #fourthnavbar222 h3{
      padding:6px;
    }
    #fourthnavbar222 h3:hover{
      transition: all 0.2s ease-out ;
      transform: scale(1.1);
      border-radius: 5px;
    }
    #thirdleft{
      display: flex;
      align-items: center;
      border-radius: 10px;
      width: 6%;
    }
    #fourthnavbar222 div:nth-child(4) p{
    margin-left: 12px;
    }
      
    